:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf9f6;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  align-items: center;
}

.current-card {
  /* display: flex; */
  /* justify-content: center;
  text-align: center;
  align-items: center; */
  /* position: relative; */
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 2px rgba(228, 117, 150, 0.3);
  /* background-color: #f6f6ff; */
  transform-style: preserve-3d;
  height: 80%;
  width: 40%;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  cursor: pointer;
  transition: 150ms;
  margin: 15rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card:hover {
  box-shadow: 10px 10px 25px 10px rgba(217, 59, 106, 0.5);
}

.flip {
  --rotate-y: 180deg;
}

.front,
.back {
  /* position: absolute; */
  padding: 10rem;
  backface-visibility: hidden;
  font-size: larger;
}

.card .back {
  transform: rotateY(180deg);
}

.prevCard {
  /* left: calc(0% + 2rem); */
  opacity: 0;
}

.activeCard {
  /* left: 50%; */
  transform: translateX(-50%);
}

.nextCard {
  /* left: 100%; */
  transform: translateX(calc(-100% - 2rem));
  opacity: 0;
}

.arrow {
  color:rgba(226, 67, 115, 0.5);
  background-color: #faf9f6;
  
}

.arrow-col {
  align-items: center;
}

.card-container {
  position: relative;
  width: 100%;
  height: 22rem;
  margin-left: 10rem;
}

/* .source {
  margin-top: 2rem;
  color: #555;
  font-size: 0.8rem;
}

.carousel-indicators {
  background-color: #080808;
  padding: 2em 0;
  justify-content: center;
}

.carousel-inner {
  background-color: aqua;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: bisque;
} */
