:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c8d0d2;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* 
body {
  background-color: #c8d0d2;
  height: 100%;
} */

.container {
  height: 100vh;
  width: 100%;
  display: flex;
}
/* .card-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr); */
  /* column-gap: 2em;
  row-gap: 1em; */
/* } */

.card {
  flex: 1;
  /* justify-content: center;
  text-align: center;
  align-items: center;
  position: relative; */
  /* border-radius: 0.25rem;
  border:rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 2px rgba(228, 117, 150, 0.3); */
  background-color: #faf9f6;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  cursor: pointer;
  transition: 150ms;
  /* margin: 1rem; */
  /* border: 1px solid black; */
}

.card:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.flip {
  --rotate-y: 180deg;
}

.front,
.back {
  flex: 1;
  /* position: absolute; */
  padding: .05rem;
  backface-visibility: hidden;
  font-size: larger;
}

.card .back {
  transform: rotateY(180deg);
}

.source {
  margin-top: 2rem;
  color: #555;
  font-size: 0.8rem;
}

/* body{
  background-color: #C8D0D2;
}

.card-grid{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: white;
  transform-style: preserve-3d;
  height: 250px;
  cursor: pointer;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
}

.card:hover{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip{
  --rotate-y: 180deg;
}

.card .front, .card .back{
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.flashcard-options{
  margin-top: 0.5rem
}

.flashcard-option {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.8rem;
} */